#cabecalho-nav{

    background-color: black;
}

#marmitech{
    color: aliceblue;
    
}
.navbar-brand img {
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#navbarSupportedContent a {
    font-size: 25px;
    margin-left: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #dc3545;
    box-shadow: black 1px 1px;
    margin-right: 10px;
    color: blanchedalmond;
}

img {
    max-width: 10%;
    max-height: 50%;
    border-radius: 100px;
    text-align: center;
}

