<div class="container">
    <form>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <select class="form-control search-slt" id="tipoContrato">
                        <option *ngFor="let vaga of vagas">{{vaga.contrato}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="trampos" >
                                <option *ngFor="let vaga of vagas">{{vaga.linguagem}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button (click)="mostra()" type="button" class="btn btn-danger wrn-btn">Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>