<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select placeholder="teste" [(ngModel)]="tipoContrato" class="form-control search-slt" id="tipoContrato">
                        <option value="" >Selecione</option>    
                        <option *ngFor="let vaga of store.vagas" 
                             [ngValue]="vaga.contrato">
                                {{vaga.contrato}}
                            </option>
                        </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select [(ngModel)]="tecnologia" class="form-control search-slt" id="tecnologia">
                        <option value="" >Selecione</option>    
                        <option *ngFor="let vaga of store.vagas" 
                             [ngValue]="vaga.linguagem">
                                {{vaga.linguagem}}
                            </option>
                        </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <button (click)="filtrar()" type="button" class="btn btn-danger wrn-btn">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <ul class="list-unstyled lista-vagas">
        <li (click)="vs.abrirVaga(vaga)" class="media" *ngFor="let vaga of vagas"  style="cursor: pointer;">
            <div class="card mb-3" style="width: 100%;">
                <div class="row no-gutters">
                    <div class="col-md-8" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ vaga.titulo }}</h5>
                            <p class="card-text">{{ vaga.descricao }}</p>
                            <p class="card-text"><small class="text-muted">{{ vaga.empresa }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>