.sideNav ul {
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background: green;
    width: 20%;
    height: 100vh;
}

.sideNav a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    border-bottom: 1px solid black;
    text-decoration: none;
}