<section>
    <div class="section-wrapper">
        <section class="perfil-wrapper">
            <div class="card" style="width: 18rem;">
                <img [src]="store.usuario.foto" class=" card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">{{ store.usuario.nome }}</h5>
                    <p class="card-text ">{{ store.usuario.sobre }}</p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item ">Email: {{ store.usuario.email }}</li>
                    <li (click)="abrirCandidaturas()" class="list-group-item " style="cursor: pointer">Minhas candidaturas</li>
                </ul>
            </div>
        </section>