<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify">Marmitech.com nasceu com o propósito de levar aos programadores as melhores oportunidades de trabalho, bem como levar para as empresas de tecnologia os melhores talentos que conseguem codar os ifs mais mirabolantes do universo.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Colaboradores</h6>
                <ul class="footer-links">
                    <li><a>Rafael Amorim</a></li>
                    <li><a>Luiz Faleiros</a></li>
                    <li><a>Douglas Correia</a></li>
                    <li><a>Miguel Barone</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Iteris</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>