<div class="container">
  <div class="row">
    <div class="col-4 mt-2" *ngFor="let vaga of store.candidaturas">
      <div class="card lista-vagas">
        <div class="card-body">
          <h5 class="card-title">{{ vaga.titulo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ vaga.empresa }}</h6>
          <p class="card-text">{{ vaga.descricao }}</p>
          <div class="separaButton">
            <button (click)="desistirVaga(vaga)" type="button" class="btn btn-danger">Desistir</button>
            <a class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>


